.card__product{
    padding: 10px;
}
.card__product a{
    height: auto;
}
.card__product p{
    color: #000000ad;
}
.card__product img{
    max-width: 220px;
}

.card__product h3{
    color: #00000085;
}
.card__product .price{
    color: #000000ad;
}