.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 0.7em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .btn:hover {
    border-color: #646cff;
  }
  .btn:focus,
  .btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
.primary__btn{
    background-color: #1a1a1a;
}

.secondary__btn{
    background-color: #c7ff2d;
}
.icono__btn{
    background: transparent;
    box-shadow: none;
    border: 0px;
    border-left: 1px solid #444;
    cursor: pointer;
}
.btn_close{
  background-color: transparent;
  border: none;
  cursor: pointer;
}