.search__input, .input__boxSmall{
    background-color: transparent;
    border: 0px;
    color: #000000e5; /* #d0adf0; #8d8d8d*/
}
.input__boxSmall{
    width: 40px;
    font-size: 16px;
    padding: 10px;
}
.search__input:focus, .input__boxSmall:focus{
    border-radius: 4px;
    outline: none;
    outline-color: inherit;
}
